$colorColorNeutralLight0: #ffffff;    
$colorColorNeutralLight100: #f6f6fb;    
$colorColorNeutralLight200: #e7ecf4;    
$colorColorNeutralLight300: #dddfe4;    
$colorColorNeutralLight400: #bcc1c9;    
$colorColorNeutralLight500: #9da3af;    
$colorColorNeutralLight600: #7e8696;    
$colorColorNeutralLight700: #636a79;    
$colorColorNeutralLight800: #494f5e;    
$colorColorNeutralLight900: #323643;    
$colorColorNeutralLight1000: #1b1e2b;    
$colorColorNeutralLight1100: #000014;    
$colorColorNeutralDark0: #000014;    
$colorColorNeutralDark100: #1b1e2b;    
$colorColorNeutralDark200: #323643;    
$colorColorNeutralDark300: #494f5e;    
$colorColorNeutralDark400: #636a79;    
$colorColorNeutralDark500: #7e8696;    
$colorColorNeutralDark600: #9da3af;    
$colorColorNeutralDark700: #bcc1c9;    
$colorColorNeutralDark800: #dddfe4;    
$colorColorNeutralDark900: #e7ecf4;    
$colorColorNeutralDark1000: #f6f6fb;    
$colorColorNeutralDark1100: #ffffff;    
$colorColorPinkLight100: #ffd9e3;    
$colorColorPinkLight500: #d04f78;    
$colorColorPinkLight700: #af3b5d;    
$colorColorPinkDark100: #af3b5d;    
$colorColorPinkDark500: #d04f78;    
$colorColorPinkDark700: #ffd9e3;    
$colorColorBlueLight100: #e0edfe;    
$colorColorBlueLight200: #c9d5ff;    
$colorColorBlueLight300: #adb7ff;    
$colorColorBlueLight400: #8c9aff;    
$colorColorBlueLight500: #637eff;    
$colorColorBlueLight600: #0a64ff;    
$colorColorBlueLight700: #0d4bd7;    
$colorColorBlueLight800: #0c32b1;    
$colorColorBlueLight900: #000069;    
$colorColorBlueDark100: #000069;    
$colorColorBlueDark200: #0c32b1;    
$colorColorBlueDark300: #0d4bd7;    
$colorColorBlueDark400: #0a64ff;    
$colorColorBlueDark500: #637eff;    
$colorColorBlueDark600: #8c9aff;    
$colorColorBlueDark700: #adb7ff;    
$colorColorBlueDark800: #c9d5ff;    
$colorColorBlueDark900: #e0edfe;    
$colorColorLightblueLight500: #8ad0ff;    
$colorColorLightblueLight600: #49baff;    
$colorColorLightblueLight700: #0da2ee;    
$colorColorLightblueLight800: #0d71b8;    
$colorColorLightblueDark500: #0d71b8;    
$colorColorLightblueDark600: #0da2ee;    
$colorColorLightblueDark700: #49baff;    
$colorColorLightblueDark800: #8ad0ff;    
$colorColorGreenLight200: #d9f2e7;    
$colorColorGreenLight500: #428c3f;    
$colorColorGreenLight700: #237126;    
$colorColorGreenDark200: #237126;    
$colorColorGreenDark500: #428c3f;    
$colorColorGreenDark700: #d9f2e7;    
$colorColorYellowLight100: #ffefc4;    
$colorColorYellowLight500: #fbc83c;    
$colorColorYellowLight700: #e6b11f;    
$colorColorYellowLight900: #5e4000;    
$colorColorYellowDark100: #5e4000;    
$colorColorYellowDark500: #e6b11f;    
$colorColorYellowDark700: #fbc83c;    
$colorColorYellowDark900: #ffefc4;    
$colorColorRedLight200: #ffe5e8;    
$colorColorRedLight500: #c2342b;    
$colorColorRedLight700: #bd201b;    
$colorColorRedDark200: #bd201b;    
$colorColorRedDark500: #c2342b;    
$colorColorRedDark700: #ffe5e8;    
$colorColorOrangeLight200: #fee8cf;    
$colorColorOrangeLight500: #fd8735;    
$colorColorOrangeLight700: #f55e09;    
$colorColorOrangeDark200: #f55e09;    
$colorColorOrangeDark500: #fd8735;    
$colorColorOrangeDark700: #fee8cf;    
$colorColorPurpleLight200: #f0e8ff;    
$colorColorPurpleLight500: #8025f3;    
$colorColorPurpleDark200: #8025f3;    
$colorColorPurpleDark500: #f0e8ff;    
$colorColorTealLight100: #d7eeec;    
$colorColorTealLight500: #72cbc3;    
$colorColorTealLight700: #0b988a;    
$colorColorTealDark100: #0b988a;    
$colorColorTealDark500: #72cbc3;    
$colorColorTealDark700: #d7eeec;    
$colorBackgroundOpacityPrimary10: #0a64ff1a;    
$colorContentBrandPrimary: $colorColorBlueLight600;    
$colorContentBrandSecondary: $colorColorBlueLight700;    
$colorContentBrandTertiary: $colorColorBlueLight800;    
$colorContentLightbluePrimary: $colorColorLightblueLight500;    
$colorContentLightblueSecondary: $colorColorLightblueLight700;    
$colorContentLightblueTertiary: $colorColorLightblueLight800;    
$colorContentPrimary: $colorContentBrandPrimary;    
$colorContentSecondary: $colorColorNeutralLight900;    
$colorContentTertiary: $colorColorNeutralLight700;    
$colorContentAlwayswhite: $colorColorNeutralLight0;    
$colorContentAlwaysdark: $colorColorNeutralLight1100;    
$colorContentInverseBlack: $colorColorNeutralLight1100;    
$colorContentInverseWhite: $colorColorNeutralLight0;    
$colorContentDisabled: $colorColorNeutralLight600;    
$colorContentAlertDanger: $colorColorRedLight700;    
$colorContentAlertWarning: $colorColorOrangeLight700;    
$colorContentAlertSuccess: $colorColorGreenLight500;    
$colorContentAlertInformation: $colorColorBlueLight600;    
$colorContentAccentPink: $colorColorPinkLight700;    
$colorContentAccentBrand: $colorColorBlueLight600;    
$colorContentAccentPurple: $colorColorPurpleLight500;    
$colorContentAccentGreen: $colorColorGreenLight700;    
$colorContentAccentInverseBrown: $colorColorYellowLight900;    
$colorContentAccentYellow: $colorColorYellowLight700;    
$colorContentAccentRed: $colorColorRedLight700;    
$colorContentAccentTeal: $colorColorTealLight700;    
$colorBackgroundLightBrand: $colorColorBlueLight100;    
$colorBackgroundLightSecondary: $colorColorNeutralLight100;    
$colorBackgroundLightBrandDisabled: $colorColorBlueLight200;    
$colorBackgroundLightDisabled: $colorColorNeutralLight300;    
$colorBackgroundBrandDefault: $colorColorBlueLight600;    
$colorBackgroundBrandHover: $colorColorBlueLight700;    
$colorBackgroundPrimary: $colorColorNeutralLight0;    
$colorBackgroundSecondary: $colorColorNeutralLight200;    
$colorBackgroundInverse: $colorColorNeutralLight1100;    
$colorBackgroundAlwayswhite: $colorColorNeutralLight0;    
$colorBackgroundAlwaysdark: $colorColorNeutralLight1100;    
$colorBackgroundDarkgray: $colorColorNeutralLight800;    
$colorBackgroundNeutral: $colorColorNeutralLight400;    
$colorBackgroundDisabled: $colorColorNeutralLight600;    
$colorBackgroundAlertDangerDefault: $colorColorRedLight700;    
$colorBackgroundAlertWarningDefault: $colorColorOrangeLight700;    
$colorBackgroundAlertWarningHover: $colorColorOrangeLight500;    
$colorBackgroundAlertSuccessDefault: $colorColorGreenLight700;    
$colorBackgroundAlertSuccessHover: $colorColorGreenLight500;    
$colorBackgroundAlertDangerHover: $colorColorRedLight500;    
$colorBackgroundAlertLightDanger: $colorColorRedLight200;    
$colorBackgroundAlertLightWarning: $colorColorOrangeLight200;    
$colorBackgroundAlertLightSuccess: $colorColorGreenLight200;    
$colorBackgroundAlertLightInformation: $colorColorBlueLight100;    
$colorBackgroundAccentLightPink: $colorColorPinkLight100;    
$colorBackgroundAccentLightBlue: $colorColorLightblueLight500;    
$colorBackgroundAccentLightGreen: $colorColorGreenLight200;    
$colorBackgroundAccentLightYellow: $colorColorYellowLight100;    
$colorBackgroundAccentLightPurple: $colorColorPurpleLight200;    
$colorBackgroundAccentLightTeal: $colorColorTealLight100;    
$colorBackgroundAccentPurple: $colorColorPurpleLight500;    
$colorBackgroundAccentPink: $colorColorPinkLight700;    
$colorBackgroundAccentGreen: $colorColorGreenLight500;    
$colorBackgroundAccentYellow: $colorColorYellowLight500;    
$colorBackgroundAccentRed: $colorColorRedLight500;    
$colorBackgroundAccentTeal: $colorColorTealLight700;    
$colorBorderPrimary: $colorColorNeutralLight400;    
$colorBorderAccentPrimary: $colorColorNeutralLight500;    
$colorBorderAccentPink: $colorColorPinkLight700;    
$colorBorderAccentTeal: $colorColorTealLight700;    
$colorBorderSecondary: $colorColorNeutralLight300;    
$colorBorderDisabled: $colorColorNeutralLight600;    
$colorBorderBrandDefault: $colorColorBlueLight700;    
$colorBorderBrandHover: $colorColorBlueLight600;    
$colorBorderAlertDangerDefault: $colorColorRedLight700;    
$colorBorderAlertDangerHover: $colorColorRedLight500;    
$colorBorderAlertSuccessDefault: $colorColorGreenLight700;    
$colorBorderAlertSuccessHover: $colorColorGreenLight500;    
$colorBorderAlertWarningDefault: $colorColorOrangeLight700;    
$colorBorderAlertWarningHover: $colorColorOrangeLight500;    
$colorBorderAlertAttention: $colorColorPurpleLight500;    
$colorBorderAccentBlue: $colorColorLightblueLight500;    
