$measureDimensionSpace4: 4px;    
$measureDimensionSpace8: 8px;    
$measureDimensionSpace12: 12px;    
$measureDimensionSpace16: 16px;    
$measureDimensionSpace20: 20px;    
$measureDimensionSpace24: 24px;    
$measureDimensionSpace32: 32px;    
$measureDimensionSpace40: 40px;    
$measureDimensionSpace48: 48px;    
$measureDimensionSpace56: 56px;    
$measureDimensionSpace64: 64px;    
$measureDimensionSpace72: 72px;    
$measureDimensionSpace80: 80px;    
$measureDimensionSpace96: 96px;    
$measureDimensionSpace160: 160px;    
$measureDimensionSize0: 0px;    
$measureDimensionSize2: 2px;    
$measureDimensionSize4: 4px;    
$measureDimensionSize6: 6px;    
$measureDimensionSize8: 8px;    
$measureDimensionSize12: 12px;    
$measureDimensionSize16: 16px;    
$measureDimensionSize20: 20px;    
$measureDimensionSize24: 24px;    
$measureDimensionSize32: 32px;    
$measureDimensionSize40: 40px;    
$measureDimensionSize48: 48px;    
$measureDimensionSize56: 56px;    
$measureDimensionSize64: 64px;    
$measureDimensionSize72: 72px;    
$measureDimensionSize80: 80px;    
$measureDimensionSize88: 88px;    
$measureDimensionSize96: 96px;    
$measureDimensionSize104: 104px;    
$measureDimensionSize112: 112px;    
$measureDimensionSize120: 120px;    
$measureDimensionSize128: 128px;    
$measureDimensionSize160: 160px;    
$measureDimensionSize320: 320px;    
$measureDimensionSize360: 360px;    
$measureDimensionSize640: 640px;    
$measureDimensionSize720: 720px;    
$measureDimensionSize812: 812px;    
$measureDimensionSize900: 900px;    
$measureDimensionSize1024: 1024px;    
$measureDimensionSize1280: 1280px;    
$measureDimensionSize1440: 1440px;    
$measureDimensionShape0: 0px;    
$measureDimensionShape2: 2px;    
$measureDimensionShape4: 4px;    
$measureDimensionShape6: 6px;    
$measureDimensionShape8: 8px;    
$measureDimensionShape12: 12px;    
$measureDimensionShape16: 16px;    
$measureDimensionShape20: 20px;    
$measureDimensionShape24: 24px;    
$measureDimensionShape32: 32px;    
$measureDimensionShape100: 100px;    
$measureDimensionOpacity0: 0px;    
$measureDimensionOpacity10: 10px;    
$measureDimensionOpacity20: 20px;    
$measureDimensionOpacity30: 30px;    
$measureDimensionOpacity40: 40px;    
$measureDimensionOpacity50: 50px;    
$measureDimensionOpacity60: 60px;    
$measureDimensionOpacity70: 70px;    
$measureDimensionOpacity80: 80px;    
$measureDimensionOpacity90: 90px;    
$measureDimensionOpacity100: 100px;    
$measureDimensionSpaceNegative2: -2px;    
$measureDimensionSpaceNegative4: -4px;    
$measureDimensionSpaceNegative6: -6px;    
$measureDimensionSpaceNegative8: -8px;    
$measureDimensionSpaceNegative12: -12px;    
$measureDimensionSpaceNegative16: -16px;    
$measureDimensionSpaceNegative20: -20px;    
$measureDimensionSpaceNegative24: -24px;    
$measureDimensionSpaceNegative32: -32px;    
$measureDimensionSpaceNegative40: -40px;    
$measureDimensionSpaceNegative44: -44px;    
$measureDimensionSpaceNegative48: -48px;    
$measureFontSizeTypographyFontSize: 48px;    
$measureLineHeightLineHeight: 56px;    
$measureSizeIcon12: $measureDimensionSize12;    
$measureSizeIcon16: $measureDimensionSize16;    
$measureSizeIcon20: $measureDimensionSize20;    
$measureSizeIcon24: $measureDimensionSize24;    
$measureDimensionPadding4: $measureDimensionSpace4;    
$measureDimensionPadding8: $measureDimensionSpace8;    
$measureDimensionPadding12: $measureDimensionSpace12;    
$measureDimensionPadding16: $measureDimensionSpace16;    
$measureDimensionPadding20: $measureDimensionSpace20;    
$measureDimensionPadding24: $measureDimensionSpace24;    
$measureDimensionPadding32: $measureDimensionSpace32;    
$measureDimensionPadding40: $measureDimensionSpace40;    
$measureSpaceGap4: $measureDimensionSpace4;    
$measureSpaceGap8: $measureDimensionSpace8;    
$measureSpaceGap12: $measureDimensionSpace12;    
$measureSpaceGap16: $measureDimensionSpace16;    
$measureSpaceGap20: $measureDimensionSpace20;    
$measureSpaceGap24: $measureDimensionSpace24;    
$measureSpaceGap32: $measureDimensionSpace32;    
$measureSpaceGap40: $measureDimensionSpace40;    
$measureSpaceGapNegative2: $measureDimensionSpaceNegative2;    
$measureDimensionDeviceGridColumns: $measureDimensionSize12;    
$measureSpaceGapNegative4: $measureDimensionSpaceNegative4;    
$measureSpaceGapNegative8: $measureDimensionSpaceNegative8;    
$measureSpaceGapNegative12: $measureDimensionSpaceNegative12;    
$measureSpaceGapNegative16: $measureDimensionSpaceNegative16;    
$measureDimensionDeviceGridGutter: $measureDimensionSpace16;    
$measureDimensionDeviceGridMargin: $measureDimensionSpace32;    
$measureSpaceGapNegative20: $measureDimensionSpaceNegative20;    
$measureSpaceGapNegative24: $measureDimensionSpaceNegative24;    
$measureSpaceGapNegative32: $measureDimensionSpaceNegative32;    
$measureSpaceGapNegative40: $measureDimensionSpaceNegative40;    
$measureDimensionDeviceWidthHeightW: $measureDimensionSize1440;    
$measureDimensionDeviceWidthHeightH: $measureDimensionSize900;    
